:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
  --background-card1: #ececed
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.container {
    display: flex;
    margin-top: -170px;
  }

/* menu de navegação e pesquisa*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  position: relative;
}
.list-nav {
  display: flex;
  align-items: center;
  gap: 90px;
  color: var(--text);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  height: 22px;
  list-style: none;
}
/*search*/
.search {
  width: 220px;
  height: 45px;
  flex-shrink: 0;
  padding: 0 40px;
}
.icon-search {
  position: absolute;
  padding: 11px 5px 7px 14px;
}

/*main*/

.retangule1 {
  width: 540px;
  background: var(--background-card1);
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 190px 72px 0px 111px;
}
.title {
  width: 357px;
  flex-shrink: 0;
  color: var(--text);
  font-size: 60px;
  font-weight: 700;
}
.text {
  color: #9c9696;
  font-weight: 700;
}

.value {
  color: var(--text);
  font-size: 40px;
  font-weight: 700;
  height: 42px;
}

/* Button*/
.btn {
  width: 274px;
  height: 90px;
  flex-shrink: 0;
  background: var(--button);
  border: none;
  cursor: pointer;
  margin-top: 30px;
}
.text-button {
  color: var(--background);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

/*Post and galery*/
.retangule {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 174px;
  width: 900px;
  height: 914px;
  flex-shrink: 0;
  background: var(--main-background);
}
.shoes-post {
  width: 597px;
}
.list-galery {
  display: flex;
  justify-content: center;
  gap: 38px;
  list-style: none;
}
.shoes2 {
  border-bottom: 4px solid var(--button);
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.list-footer {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 90px;
  color: var(--footer);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ver-mais {
  width: 437px;
  height: 166px;
  flex-shrink: 0;
  background: var(--footer);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1;
  gap: 14px;
}
.text-exp {
  color: var(--background);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
